@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
header{
    position: sticky;
    top: 0;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
z-index: 99;
margin: 0;
}
.myntralogo{
    margin: 4px 0 2px -20px;
    width: 117px;
    height: 65px; 
    padding-top: 12px;
}
.myntralogo img{
   
    width: 100%;
    font-size: 5px;
}

 .flex li {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
} 
.nav ul{
    display: flex;
    
}
.right{
    padding-right: 2rem; 
 } 
 .search{
     width: 36vw;
     border: none;
     outline: none;
     background-color: #f5f5f6;
     padding: 12px;
     margin-right: 25px;
     margin-left: 7%;
     border-radius: 5px;
  
     
   
 }
 
 body h1 {
     font-family: "Proxima Nova", Arial, sans-serif;
     letter-spacing: 0.2rem;
     opacity: 0.8;
     margin-left: 1.4rem;
     margin-bottom: 3.2rem;
     margin-top: 3rem;
     font-size: 1.6rem;
   }
   .newone{
     width:30px ;
     height: 30px;
   
     margin-bottom: -8px;
   }