.nav{
    display: flex;
    position: sticky;
    top: 0;
    /* width: 100%; */
   padding-left: 30px;
    
 
   
}

.profile{
   
margin-top: 10px;
}
.max{
    margin-left: 1.5rem;
    margin-right: 0.5rem;
     display: flex;
    flex-direction: column;
   
    width: fit-content;
   
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 3rem;
}
.max img{
    padding-bottom: 4px;
}

.item-center{
    align-items: center;
}
.content-center{
    justify-content: center;
}
.flex{
    padding-left: 3px;
}

.flex >li {
   
    list-style: none;

   
    padding-top: 17px; 
    }
.flex li a{
text-decoration:none ;
color: black;
font-weight: bold;
list-style: none;
padding: 0 15px;
letter-spacing: 0.1em
  
}

.hrline{
    border:   0.5px solid grey ;
    height: px;
    width: 75%;
    background-color: lightgrey;
    margin-left: -10px;
}
.logo{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-bottom: -5px ;
    
}
.logohref{
text-decoration: none;
color: black;
font-weight: bold;
 font-size: 10px;
 margin-top: 5px; 
}

.grid{
   display: grid;
    grid-template-columns: repeat(8,1fr);
   
   
}
.lastitem{
    height: fit-content;
    margin-bottom: -0.5rem;
}
.lastitem img{
    width: 100%;
   
    
}


h1{
    font-weight: bolder;
    margin: 5vh 0 5vh 8vw; 
}

/* navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
header{
    position: sticky;
    top: 0;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
z-index: 99;
margin: 0;
}
.myntralogo{
    margin: 4px 0 2px -20px;
    width: 117px;
    height: 65px; 
    padding-top: 12px;
}
.myntralogo img{
   
    width: 100%;
    font-size: 5px;
}

 .flex li {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
} 
.nav ul{
    display: flex;
    
}
.right{
    padding-right: 2rem; 
 } 
 .search{
     width: 36vw;
     border: none;
     outline: none;
     background-color: #f5f5f6;
     padding: 12px;
     margin-right: 25px;
     margin-left: 7%;
     border-radius: 5px;
  
     
   
 }
 
 body h1 {
     font-family: "Proxima Nova", Arial, sans-serif;
     letter-spacing: 0.2rem;
     opacity: 0.8;
     margin-left: 1.4rem;
     margin-bottom: 3.2rem;
     margin-top: 3rem;
     font-size: 1.6rem;
   }
   .newone{
     width:30px ;
     height: 30px;
   
     margin-bottom: -8px;
   }
   
nav ul > li.dropdown >a::after{
    position: absolute;
    float: right;
    content: '';
    margin-left:10px;
    margin-top: 8px;
    z-index: 2;
    display: block;
    border: 1px solid #000;
}
.lastdrop >a::after{
    position: absolute;
    float: left;
    margin-top: 18px;
    /* display: inline-block; */
    
}
.virat >a::after{
    position: absolute;
    float: right;
    margin-top: 8px;
    display: block;
}
.studio{
    padding: 40px 40px 5px 40px; 
    background: white;
    text-align: top;
  
    box-shadow: 0 5px 10px white;
    z-index: 1;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:32em;
    height: fit-content;
    width: fit-content;
    top: -9999px;
  
    
    justify-content: center;
    align-items: center;
   margin: -36px 0px 0 -50px;
}
